@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

.app {
  display: flex;
  padding: 30px;
  font-family: 'Rubik', sans-serif;
}

.game {
  width: 560px;
  height: 560px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 5%;
}

.game img {
  width: 70px;
  height: 70px;
}

.scoreboard {
  width: 50%;
  text-align: center;
  margin-top: 5%;
}

.scoreboard_myscore{
  margin-bottom: 6rem;
  color: #02735E;
}

.scoreboard_title{
  margin-bottom: 2rem;
  text-decoration: underline;
}

.scoreboard_classement{
  font-size: 22px;
  margin-bottom: 2rem;
}

.scoreboard_button{
  margin-top: 5rem;
  width: 26%;
  padding: 12px;
  border: none;
  font-size: 17px;
  border-radius: 15px 0 15px 0;
  cursor: pointer;
  background-color: #02735E;
  color: #fff;
}